@inject INavImageService NavImageService

@if (NavImageService.NavImages == null && NavImageService.NavImages.Count == 0)
{
    <span>Loading...</span>
}
else
{
    <div class="row">
        @foreach (var navImage in NavImageService.NavImages)
        {
            if (navImage.IsMainNav && navImage.IsExt == false)
            {
                <div class="mainNavImage">
                    <NavLink href="@navImage.PathName">

                        <img class="mainNavImgAnimation" src="@navImage.ImgUrl" alt="@navImage.AltText"/>

                    </NavLink>
                </div>
            }
            else if (navImage.IsMainNav && navImage.IsExt)
            {
                <div class="mainNavImage">
                    <a href="@navImage.PathName" target="_blank" rel="noreferrer">
                        <img class="mainNavImgAnimation" src="@navImage.ImgUrl" alt="@navImage.AltText"/>
                    </a>
                </div>
            }
        }
    </div>
}
@code
{
   
    protected override async Task OnInitializedAsync()
    {
        await NavImageService.GetNavigationImages();
    }
}
